@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #003f5a;
    background-color: #f1f1f1;
}

/*Headings and logo*/
h1{
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 3px;
    color: #b87593;
    font-size: 24px;
}

#logo{
    float: left;
    margin-left: 15px;
    margin-top: 20px;
}

/*Navigation links*/
#menu{
    font-size: 110%;
    letter-spacing: 3px;
}
#menu,
#logo{
    line-height: 45px;
}
#menu li{
    float: right;
    list-style-type: none;
    margin-right: 40px;
    padding-top: 20px;
}
#menu h1,
a{
    text-decoration: none;
    color: inherit;
}
#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}
.active{
    border-bottom: 1px solid #3a3a3a;
}

/*Hero image (initial image of the webpage)big Budapest image*/
#hero-outer{
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#cover-text,
#cover-text h2{
    color: #e4e7d4;
    font-size: 19px;
    text-align: center;
}
#hero-image{
    height: 500px;
    width: 100%;
    background: url(../images/hero.jpg);
    background-size: cover;


    /*Animates the Budapest image, zoom effect on loading page*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
@keyframes hero-zoom{
    from{
        transform: scale(1.0);
    }

    to{
        transform: scale(1.1);
    }
}

/*The text inside the image*/
#cover-text{
    font-size: 17px;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 2px;
    width: 270px;
    height: 100px;
    padding-top: 5px;
    padding-left: 5px;
    background-color: rgba(140, 112, 150, 0.7);
    bottom: 30px;
    right: 90px;
    position: absolute;
}

#span{
    letter-spacing: 1.5px;
    text-align: center;
    margin-bottom: 20px;
    padding-left: 10px;
    margin-top: 20px;
    font-family: Oswald, sans-serif;
    text-transform: capitalize;
}
#span h3{
  text-decoration: underline;
  color: #b87593;  
}
.first-container{
    max-width: 1200px;
    padding: 5px;
    padding-top: 30px;
    margin-bottom: 30px;
    margin-left: 25px;
}
.first-container img{
    height: 100%;
    clip-path: circle(40%);
    margin-bottom: 10px;
}
.first-container h3{
    text-align: center;
    color: #b87593;
    text-decoration: underline;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 30px;
}

/* Create a white card with some shadow around it */
.card{
    padding: 10px;
    margin-bottom: 3px;
    border-radius: 10px;
    box-shadow: -7px -7px 20px rgba(0, 0, 0, 0.1),
        7px 7px 20px rgba(0, 0, 0, 0.1)
}
.card p{
    font-size: 14px;
    text-align: justify;
    letter-spacing: 1px;
    font-family: Oswald, sans-serif;
    text-transform: capitalize;
}
em{
    font-weight: bold;
    text-transform: uppercase;
}

/*Section 3 - uploaded a youtube video*/
.video{
    padding: 50px 0 50px 0;
    text-align: center;
    color: #b87593;
    text-decoration: underline;
}

/*Gallery*/
#photo{
    clear: both;
    line-height: 3;
    column-count: 4;
    column-gap: 1px;     
}
#photo img{
    width: 100%;    
}

/*footer and media links*/
.footer{
    flex-shrink: 0;
    background-color: #b87593;
    padding: 20px;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
}
.social-networks{
    text-align: center;
}
.social-networks>li{
    display: inline;
}
.social-networks i{
    font-size: 160%;
    margin: 1%;
    color: inherit;
}
.social-networks i:hover{
    color: #e4e7d4;
}

/*Contact Section*/

/* Form */
.form-section{
    clear: left;
    background: url("../images/hero1.jpeg");
    background-size: cover;
    background-position: center;
    height: 800px;
}
.signup-form{
    margin: 150px 10% 0 0;
    color: #e4e7d4;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}
.signup-form>h2{
    color: #e4e7d4;
    margin-bottom: 20px;
}
.text-input{
    background: transparent;
    color: #e4e7d4;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #e4e7d4;
    border-radius: 2px;
}
.text-input:hover{
    border-color:#003f5a;
}
.join-button{
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color:#003f5a;
    color: #e4e7d4;
    display: block;
}
.join-button:hover{
    background-color: #e4e7d4;
    color: #b87593;
}

/* Media queries */

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px){
    #body {
        font-size:1.5rem;;
    }
    #menu img{
        max-width:100%;
        height: auto;
    }
    #logo{
        max-width:100%;
        height: auto;
    }
    #photo{
        column-count: 3;
    }
    .grid, .card, .first-container {
       max-width: 80%;
    }
    
}
/* For small screens sizes from 800px wide and down */
@media screen and (max-width: 800px){
    #body{
        font-size:1.2rem;
    }
    #grid{
        grid-template-columns: 1;
    }
    #photo{
        column-count: 2;
    }
@media (min-device-width:600px) {
    #grid{
        grid-template-columns: 1;
    }
        img[data-src-600px] {
            content: attr(data-src-600px, url);
        }
    }
    
@media (min-device-width:800px) {
        img[data-src-800px] {
            content: attr(data-src-800px, url);
        }
    }
}